*::selection {
  color: white;
  background-color: #123456;
}

body {
  margin: 0;
  background-color: #eaeaea;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
}

.creds {
  opacity: 0.8;
  text-align: center;
  padding: 10%;

  font-family: "Cormorant Garamond", serif;
}

.card {
  display: inline-block;
  background-color: #ffffff;
  width: 22%;
  height: 280px;
  box-shadow: 0px 2px 5px -1px rgba(128, 128, 128, 0.39);
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  background-color: #3c393c;
  color: #ffffff;
}

.title {
  margin-left: 1rem;
}

.image {
  height: 60%;
  overflow: hidden;
  text-align: right;
  background-position: center;
  background-size: cover;
}

.footer {
  height: 34%;
  overflow: hidden;
  margin-left: 0.5rem;
}

.cardInfo {
  margin: 0;
  margin-top: 1rem;
  font-family: 'Nunito', sans-serif;
}

.description {
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5rem;
  font-size: 15px;
  color: #363636;
}

b {
  font-family: "Nunito", sans-serif;
  /*font-size: 20px;*/
}

.group{
    display: inline-block;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 7px;
    /*box-shadow: 0 0px 5px 1px #4e4e4e;*/
    box-shadow: 0 0px 5px 0px #4e4e4e;
}

.group>p{
    margin-top: 40%;
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }
}

/*Overlay and expanded card*/
.overlay-bg {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  background-color: rgba(20, 20, 20, 0.4);
  animation: fadeIn 0.2s ease-out;
}

.overlay-bg > .card.expanded {
  margin: 0 auto;
  animation: appear 0.2s ease-out;
  position: relative;

  height: auto;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  cursor: default;
}

.card.expanded .image {
  background-position: center;
}

.card.expanded > .footer {
  overflow: initial;
}

.disabled {
  display: none;
}

@keyframes appear {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cross {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cross > span {
  transform: rotate(45deg);
  font-weight: bold;
  margin: 0 auto;
  font-size: 45px;
  color: white;
  text-shadow: 0 0 5px black;
}

@media screen and (max-width: 510px) {
  .card {
    width: 90%;
    height: 280px;
  }
}

@media screen and (min-width: 560px) {
  .card {
    width: 39%;
    height: 340px;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 27%;
    height: 280px;
  }
}
